body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu menu menu menu menu menu'
        'main main main main main main'
        'footer footer footer footer footer footer';

}

.item1 { 
    grid-area: header; 
    font-size: 20px;
    display: grid;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -183px;
    overflow: hidden;
    display: block;
    align-content: center;
    justify-content: center;
    height: auto;
}

.centered {
    position:  relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    -webkit-text-stroke: 1px grey;
    font-size: 70px;
    text-align: center;
}

/*
.centered {
    position: absolute;
    color: white;
    -webkit-text-stroke: 1px grey;
    font-size: 70px;
    text-align: center;
    z-index: 1;
    justify-content: center;
}
*/
.item2 { 
    grid-area: menu; 
    background-color: #333;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    color: white;
    text-align: center;
    border-radius: 0px 0px 30px 30px;
}
.item3 { 
    grid-area: main;
    padding-bottom: 100px;
    text-align: center;
}

.item4 { 
    grid-area: footer;
    position: relative;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
    margin: -8px;
    text-align: center;
    
}


#myVideo {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    /*z-index: 0;*/
}